body {
	margin: 0;
	
}

#banner1 {
	display: block;
	background-color: #359fe8;
	width: 100%;
	height: 10px;
	position: relative;
}
#menu {
	width: 100%;
	height: 80px;
	position: relative;
	background-color: #78c3f7;
}

#menu ul{
	min-width: 700px;
	float: left;
	left: 0%;
	position: relative;
	padding-top: 10px;
	margin-left:0%;
}

#menu ul li {
	margin-left: 35px;
	float: left;
	list-style-type: none;
	position: relative;
}

#menu ul li a{
	text-align: center;
	padding-top: 5px;
	display: inline-block;
	background-color: #3886bc;
	height: 25px;
	width: 130px;
	color: #444242;
	text-decoration: none;
	
}

#menu ul li a:hover {
	width: 100%;
	color: white;
	background-color: #359fe8;
	width: 130px;
}

#banner2 {
	display: block;
	background-color: #359fe8;
	height: 10px;
	width: 100%;
}

#contenuprincipal {	
	text-align: center;
	}

#footer {
	text-align: center;
	display: block;
	background-color: #359fe8;
	height: 10px;
	bottom: 0px;
	position: relative;	
	width: 100%;
	padding-bottom:40px;
}

#footer p {
	color: white;
	font-weight: bold;
	position: relative;
	top: 15px;
}	
#header {
	background-color: #359fe8;
	padding: 1px;
	background-size: cover;
	background-image: url("ash-logo1.png");
	height: 45vh; /*viewport height */
}
h2 span {color: #F67119}
h1 span {color: #F67119}
h3 span {color: #F67119}

.diaporama{
	margin: auto;
	width: 800px;
	height: 400px;
	border: 3px solid #333;
	background-image: url("ASHMAGASIN.jpeg");

	webkit-animation-name: diapo1;
	webkit-animation-duration: 18s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;

	moz-animation-name: diapo1;
	moz-animation-duration: 18s;
	moz-animation-timing-function: linear;
	moz-animation-iteration-count: infinite;
	moz-animation-direction: normal;

	animation-name: diapo1;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;

}

@-webkit-keyframes diapo1{
	0%{background-image: url("ASHMAGASIN.jpeg");}
	33%{background-image: url("camion.jpg");}
	66%{background-image: url("debouchage.jpg");}
}

@-moz-keyframes diapo1{
	0%{background-image: url("ASHMAGASIN.jpeg");}
	33%{background-image: url("camion.jpg");}
	66%{background-image: url("debouchage.jpg");}
}

@keyframes diapo1{
	0%{background-image: url("ASHMAGASIN.jpeg");}
	33%{background-image: url("camion.jpg");}
	66%{background-image: url("debouchage.jpg");}
}

#contenuprincipal1{
	background-image: url(plb.jpg); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	text-align: center;
}

#menu1 {
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	list-style: none;
}

#menu1 li{
	list-style-type: none;
}